/* Styling for the card container */
.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

/* Styling for each card */
.slide {
  padding: 15px;
  /* margin: 10px; */
  min-width: 300px; /* Adjust the width as needed */
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .slider {
    width: calc(
      100% + 20px
    ); /* Make the slider wider to accommodate half cards on each side */
    transform: translateX(
      -10px
    ); /* Move the slider to the left by half card width */
    overflow-x: scroll;

    flex-wrap: nowrap;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .slider {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .slick-track .slide {
    transform: scale(0.5);
  }
  .slick-track .slick-active {
    transition: 0.5s;
    transform: scale(0.9) !important;
  }
}

/* Recent posts */
.recent-posts-slider .slick-list {
  /* max-width: 700px; */
  margin: 0 auto;
  padding: 30px 0;
}
.recent-posts-slider .slick-list .slick-slide {
  font-size: 30px;
  text-align: center;
  padding: 40px 20px;
  line-height: 2;
  font-weight: 700;
}
.recent-posts-slider .slick-list .slick-slide:nth-child(even) {
  /* background-color: #ddd; */
}
.recent-posts-slider .slick-list .slick-slide:nth-child(odd) {
  /* background-color: #ccc; */
}
.recent-posts-slider .slick-arrow {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.recent-posts-slider .slick-arrow:before {
  font-size: 30px;
}
.recent-posts-slider .slick-next {
  right: 0;
}
.recent-posts-slider .slick-prev {
  left: 0;
}
