body {
  overflow-x: hidden;
  font-family: "Euclid Circular A", sans-serif !important;
}
::placeholder {
  color: lightgray !important;
}
.btn-outline-primary {
  border: 1px solid #e6c655;
  color: #e6c655;
  width: fit-content !important;
}
.h-fit-content {
  height: fit-content !important;
}
.btn-outline-primary:is(:hover, :active, :focus) {
  background-color: #e6c655 !important;
  color: white !important;
  border: 1px solid #e6c655 !important;
}
.initial-section {
  margin-top: 114.41px;
}
.home-blue-img-bg {
  background-image: url(Assets/Images/home-blue-bg.png);
  background-size: cover;
}
.faq-blue-bg {
  background-image: url(Assets/Images/faq-blue-bg.png);
  background-size: cover;
}
.about-us-blue-bg {
  background-image: url(Assets/Images/about-us-blue-bg.png);
  background-size: cover;
}
.cr-blue-bg {
  background-image: url(Assets/Images/cr-blue-bg.png);
  background-size: cover;
}
.blue-bg-color-left {
  background-color: #0b0a32;
  position: absolute;
  height: 100%;
  width: calc(51% + 290px);
  z-index: -1;
  top: 0;
}
.light-blue-bg-color {
  background-color: #f1f5fb;
}
.custom-padding {
  padding: 90px 0 !important;
}
.custom-padding-sm {
  padding: 70px 0 !important;
}
.custom-heading {
  font-size: 50px !important;
}
.section-wrapper {
  padding: 40px 0;
}
.text-yellow {
  color: #e6c655;
}
.section-content {
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  /* z-index: 8; */
}
.section-title-white {
  color: white;
  font-weight: bolder;
  font-size: 45px;
}
.section-title-black {
  color: black;
  font-weight: bolder;
  font-size: 45px;
}
.section-description-white {
  color: white;
  font-size: 18px;
  width: 90%;
}
.section-description-black {
  color: black;
  font-size: 18px;
  width: 90%;
}
.homepage-form-wrapper {
  width: 80%;
  background-color: white;
  border-radius: 14px;
  padding: 30px;
}
.form-header {
  font-weight: bold;
  margin-bottom: 18px;
}
.form-label {
  font-size: 13px;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
}
.form-control {
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  padding: 0;
}
.form-control:focus {
  box-shadow: none;
}
.btn-primary {
  border: none;
  width: 100%;
  background-color: #e6c655;
  color: white;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #e6c655;
}
.image-wrapper {
  position: relative;
}
.image-left {
  width: 89%;
  position: absolute;
  z-index: 1;
  bottom: 19px;
  /* top: -100px; */
}
.image-right {
  width: 90%;
}
.image-left-sm {
  width: 100%;
  margin-top: -144px;
  margin-bottom: 40px;
  display: none;
}
.image-right-sm {
  width: 100%;
  display: none;
}
.quotes-img {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
.client-feedback-card {
  border: 1px solid #c8d5e5;
  border-radius: 17px;
  height: 210px;
  padding: 30px;
}
.client-img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.client-feedback-name {
  font-size: 17px;
  margin-bottom: 1px;
}
.client-feedback-text {
  color: #323539;
  opacity: 60%;
  font-size: 15px;
}
.name-star-container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 2px;
  justify-content: center;
  height: 100%;
  margin-left: 15px;
}
.stars-wrapper {
  display: flex;
  gap: 4px;
}
.star-icon {
  width: 16px;
}
.recent-posts-card {
  width: 300px;
  height: 500px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
}
.recent-posts-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.recent-posts-img:hover {
  /* transform: scale3d(1.1, 1.1, 1); */
  transform: scale(1.1);
}
.recent-posts-top-container {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
  /* -webkit-transform: translate3d(0, 0, 0); */
}
.recent-posts-bottom-container {
  text-align: left;
  border-radius: 0 0 10px 10px;
  background-color: white;
  width: 100%;
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.recent-post-date {
  font-size: 15px;
}
.recent-post-title {
  font-size: 20px;
  font-weight: bold;
}
.recent-post-content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.client-feedback-slider-container {
  margin-top: 40px;
}
.recent-posts-slider-card-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.read-more-btn {
  display: none;
}
/* FAQ's */
.faq-section-wrapper {
  padding-top: 70px;
}
.faq-section-content {
  padding-bottom: 100px;
}
.custom-faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.custom-faq-accordion .accordion-item {
  border: 1px solid #e5ecf9;
  border-radius: 6px;
}
.custom-faq-accordion .accordion-item .accordion-button {
  border-radius: 6px;
}
.custom-faq-accordion .accordion-button:not(.collapsed) {
  color: black;
  background: none;
  box-shadow: none;
}
.custom-faq-accordion .accordion-button:focus {
  box-shadow: none !important;
}
.custom-faq-accordion .accordion-button:not(.collapsed)::after {
  background-image: url(Assets/Images/icon-minus.png);
  background-position: center;
}
.custom-faq-accordion .accordion-button::after {
  background-image: url(Assets/Images/icon-plus.png);
  width: 18px;
  height: 17px;
  background-size: contain;
}

/* About us */
.custom-text {
  margin: 0 auto;
  color: white;
  width: 80%;
  text-align: center;
  letter-spacing: 0.3px;
}
.custom-margin {
  margin-top: 110px;
}
.template-blue-bg-color-right {
  background-color: #0b0a32;
  position: absolute;
  height: calc(100% - 120px);
  width: calc(50% + 50px);
  z-index: -1;
  top: 120px;
  right: 0;
}
.about-us-section-content {
  margin-top: 100px;
}
.about-us-img-left {
  z-index: -2;
  position: relative;
  left: -154px;
  width: 146%;
}
.about-us-img-right {
  margin-top: 100px;
  width: 130%;
}
.template-blue-bg-color-left {
  background-color: #0b0a32;
  position: absolute;
  height: calc(100% - 154px);
  width: calc(50% + 150px);
  z-index: -1;
  top: 50px;
  left: 0;
}
/* Choral and Choir Risers */
.template-image-left {
  width: 140%;
  position: relative;
  right: 270px;
  /* top: 42px; */
  top: 10%;
}
.template-image-right {
  width: 137%;
  position: relative;
  top: 11%;
}
.main-template-blue-bg-right {
  background-color: #0b0a32;
  position: absolute;
  height: 100%;
  width: calc(50% + 250px);
  z-index: -1;
  right: 0;
}
.template-section-title-white {
  font-size: 24px;
}
.template-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.template-section-content {
  margin-top: 90px;
}
.main-template-blue-bg-left {
  background-color: #0b0a32;
  position: absolute;
  height: 100%;
  width: calc(50% + 250px);
  z-index: -1;
  left: 0;
}
@media screen and (max-width: 576px) {
  .padding-top-sm-0 {
    padding-top: 0;
  }
  .section-content {
    padding: 0 0 19px;
  }
  .section-title-white,
  .section-title-black {
    font-size: 32px;
  }
  .section-description-black,
  .section-description-white {
    width: 100%;
  }
  .homepage-form-wrapper {
    width: 100%;
    margin-bottom: 110px;
  }
  .section-content {
    text-align: center;
    gap: 5px;
  }
  .image-wrapper {
    position: static;
  }
  .image-left {
    display: none;
  }
  .image-right {
    display: none;
  }
  .image-left-sm {
    display: block;
  }
  .image-right-sm {
    display: block;
    margin-bottom: 40px;
  }
  .custom-row {
    flex-direction: column-reverse;
  }
  .blue-bg-color-left {
    height: 32%;
    width: 100%;
    top: -16px;
  }
  .text-sm-black {
    color: black;
  }
  .client-feedback-card {
    padding: 20px;
  }
  .recent-posts-card {
    height: fit-content;
  }
  .recent-posts-bottom-container {
    gap: 2px;
  }
  .recent-post-title {
    font-size: 18px;
  }
  .recent-post-date {
    font-size: 13px;
  }
  .recent-post-content {
    font-size: 14px;
    line-height: 20px;
  }
  .read-more-btn {
    display: block;
  }
  /* FAQs Page */
  .faq-section-wrapper {
    padding-top: 40px;
  }
  .custom-heading {
    font-size: 40px !important;
  }
  .faq-section-title {
    font-size: 28px !important;
    margin-bottom: 30px;
  }
  .faq-accordion-btn-title {
    width: 75%;
  }
  .custom-faq-accordion .accordion-body {
    text-align: left;
  }
  /* About us */
  .template-custom-row {
    display: flex;
    flex-direction: column-reverse;
  }
  .custom-text {
    width: 100%;
  }
  .about-us-img-right {
    position: relative;
    /* top: -100px; */
    bottom: 120px;
    width: 100%;
  }
  .template-blue-bg-color-left {
    height: calc(100% - 140px);
    width: 100%;
    top: 140px;
  }
  .template-blue-bg-color-right {
    background-color: #0b0a32;
    position: absolute;
    height: calc(100% - 120px);
    width: 100%;
    z-index: -1;
    top: 100px;
  }
  .about-us-section-content {
    margin-top: 50px;
  }
  .about-us-img-left {
    position: static;
    width: 100%;
  }
  .custom-margin {
    margin-top: -70px;
  }
  /* Choral and Choir Rentals */
  .template-image-left {
    width: 100%;
    position: static;
  }
  .template-image-right {
    width: 100%;
    position: static;
  }
  .main-template-blue-bg-right {
    background-color: #0b0a32;
    position: absolute;
    height: calc(100% - 140px);
    width: 100%;
    z-index: -1;
    right: 0;
    top: 140px;
  }
  .main-template-blue-bg-left {
    width: 100%;
    top: 150px;
  }
  .template-section-content {
    margin-top: 50px;
  }
  .template-section-title-white {
    font-size: 24px;
  }
  .template-ul {
    align-items: start;
    margin-top: 29px;
    margin-left: 20px;
  }
}
