body {
  font-family: "Euclid Circular A", sans-serif !important;
}
::placeholder {
  color: lightgray !important;
}
.btn-outline-primary {
  border: 1px solid #e6c655;
  color: #e6c655;
  width: fit-content !important;
}
.btn-outline-primary:is(:hover, :active, :focus) {
  background-color: #e6c655 !important;
  color: white !important;
  border: 1px solid #e6c655 !important;
}
.initial-section {
  margin-top: 108.52px;
}
.home-blue-img-bg {
  background-image: url(Assets/Images/home-blue-bg.png);
  background-size: cover;
  /* height: 100vh; */
}
.blue-bg-color {
  background-color: #0b0a32;
  position: absolute;
  height: 100%;
  width: 73%;
  z-index: -1;
  top: 0;
}
.light-blue-bg-color {
  background-color: #f1f5fb;
}
.section-wrapper {
  padding: 40px 0;
}
.text-yellow {
  color: #e6c655;
}
.section-content {
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.section-title-white {
  color: white;
  font-weight: bolder;
  font-size: 45px;
}
.section-title-black {
  color: black;
  font-weight: bolder;
  font-size: 45px;
}
.section-description-white {
  color: white;
  font-size: 18px;
  width: 90%;
}
.section-description-black {
  color: black;
  font-size: 18px;
  width: 90%;
}
.homepage-form-wrapper {
  width: 80%;
  background-color: white;
  border-radius: 14px;
  padding: 30px;
}
.form-header {
  font-weight: bold;
  margin-bottom: 18px;
}
.form-label {
  font-size: 13px;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
}
.form-control {
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  padding: 0;
}
.form-control:focus {
  box-shadow: none;
}
.btn-primary {
  border: none;
  width: 100%;
  background-color: #e6c655;
  color: white;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #e6c655;
}
.image-wrapper {
  position: relative;
}
.image-left {
  width: 89%;
  position: absolute;
  z-index: 1;
  bottom: 19px;
  /* top: -100px; */
}
.image-right {
  width: 90%;
}
.image-left-sm {
  width: 100%;
  margin-top: -144px;
  margin-bottom: 40px;
  display: none;
}
.image-right-sm {
  width: 100%;
  display: none;
}
.quotes-img {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
.client-feedback-card {
  border: 1px solid #c8d5e5;
  border-radius: 17px;
  height: 210px;
  padding: 30px;
}
.client-img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.client-feedback-name {
  font-size: 17px;
  margin-bottom: 1px;
}
.client-feedback-text {
  color: #323539;
  opacity: 60%;
  font-size: 15px;
}
.name-star-container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 2px;
  justify-content: center;
  height: 100%;
  margin-left: 15px;
}
.stars-wrapper {
  display: flex;
  gap: 4px;
}
.star-icon {
  width: 16px;
}
.recent-posts-card {
  width: 300px;
  height: 500px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
}
.recent-posts-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.recent-posts-img:hover {
  /* transform: scale3d(1.1, 1.1, 1); */
  transform: scale(1.1);
}
.recent-posts-top-container {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
  /* -webkit-transform: translate3d(0, 0, 0); */
}
.recent-posts-bottom-container {
  text-align: left;
  border-radius: 0 0 10px 10px;
  background-color: white;
  width: 100%;
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.recent-post-date {
  font-size: 15px;
}
.recent-post-title {
  font-size: 20px;
  font-weight: bold;
}
.recent-post-content {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}
.client-feedback-slider-container {
  margin-top: 40px;
}
.recent-posts-slider-card-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.read-more-btn {
  display: none;
}
@media screen and (max-width: 576px) {
  .padding-top-sm-0 {
    padding-top: 0;
  }
  .section-content {
    padding: 0 0 19px;
  }
  .section-title-white,
  .section-title-black {
    font-size: 32px;
  }
  .section-description-black,
  .section-description-white {
    width: 100%;
  }
  .homepage-form-wrapper {
    width: 100%;
    margin-bottom: 110px;
  }
  .section-content {
    text-align: center;
    gap: 5px;
  }
  .image-wrapper {
    position: static;
  }
  .image-left {
    display: none;
  }
  .image-right {
    display: none;
  }
  .image-left-sm {
    display: block;
  }
  .image-right-sm {
    display: block;
    margin-bottom: 40px;
  }
  .custom-row {
    flex-direction: column-reverse;
  }
  .blue-bg-color {
    height: 32%;
    width: 100%;
    top: -16px;
  }
  .text-sm-black {
    color: black;
  }
  .client-feedback-card {
    padding: 20px;
  }
  .recent-posts-card {
    height: fit-content;
  }
  .recent-posts-bottom-container {
    gap: 2px;
  }
  .recent-post-title {
    font-size: 18px;
  }
  .recent-post-date {
    font-size: 13px;
  }
  .recent-post-content {
    font-size: 14px;
    line-height: 20px;
  }
  .read-more-btn {
    display: block;
  }
}
